<% if user_signed_in? %>
	<% if pet_record.liked_by?(current_user) %>
		<%= link_to pet_record_likes_path(pet_record), method: :delete, remote: true do %>
		<span class="like">
			<i class="fas fa-burn fa-lg" aria-hidden="true" style="color: #f76a8c;"></i>
	    	<%= pet_record.likes.count %>
	    </span>
		<% end %>
	<% else %>
		<%= link_to pet_record_likes_path(pet_record), method: :post, remote: true do %>
			<i class="fas fa-burn fa-lg like" aria-hidden="true" style="color: gray;"></i>
			<span class="like-font">
			<%= pet_record.likes.count %>
			</span>
		<% end %>
	<% end %>
<% end %>