<div class="about-box">
    <table class="about-table">
      <tr>
          <td class="about-title">
YOU □ Me とは？
          </td>
        </tr>
        <tr>
          <td>
病気のペットの記録をつけるアプリです。
手軽にきろくをつけられるようにボタンで入力する項目があり、写真や文章を入力すれば自分のペットのきろくを公開することができます。
          </td>
        </tr>
        <tr>
          <td>
            <p><きろくの付け方></p>
①・トイレ・おみず・ごはん・げんきの４項目はチェックを◯△×でつけてきろくを残すことができます。
②写真や文章をきろくすることができます。
③写真か文章が入っているきろくは公開することができ、他のユーザーに見てもらうことができます。

            </td>
        </tr>
        <tr>
            <td>
              <p><公開／非公開機能></p>
このアプリにはきろくの公開／非公開と、ユーザー情報の公開／非公開があります。

①きろくの公開／非公開
他のユーザーには見られたくないきろくは、非公開に設定することで自分しか見ることができなくなります。また、きろくに写真や文章を入力しなかった場合は非公開にしかできません。『新しいきろく』またはきろくを編集した際に選択することができます。
②ユーザー情報の公開／非公開
ユーザー情報を非公開にすると、ユーザー情報やつけたきろくの全てを非公開にすることができます。ユーザー情報が非公開になると、つけている記録を公開することはできません。マイページにある歯車から変更することができます。（初期設定ではユーザー情報は公開になっています。）
            </td>
        </tr>
        <tr>
            <td>
              <p><その他機能></p>
＊灯をともす＊
気に入ったきろく、参考になったきろく、面白かったきろく…そんなきろくがあったときは灯のボタンを押して、そのきろくに灯をともしましょう。

＊フォロー＊
気に入ったユーザーがいたらフォローをして記録をチェックしましょう。

＊タグ＊
きろくの文章欄で頭に＃をつけた文字ははタグになります。タグをクリックすると同じタグがついている記事がみれます。

＊検索＊
ヘッダー右上にある検索欄で、なまえ、きろく等からの検索が可能デス。
            </td>
        </tr>
</table>
            <div class="enter-link">
                <%= link_to "ホーム", root_path %>
            </div>
</div>
