<div class="show-record-box">
    <table class="record-table">
    	<tr>
        	<td class="date-box">
                <h3>
                YOU □ Me とは？
                </h3>
            </td>
        </tr>
        <tr>
            <td class="Description">
                病気のペットの記録をつけるアプリです。
手軽につけれるようにボタンで入力する項目があり、自分のペットのきろくを公開するために写真や文章を入力できる項目があります。
            </td>
        </tr>
        <tr>
            <td class="pet-status", style="line-height: 2em">
                きろくの付け方
①・トイレ・おみず・ごはん・げんきの４項目は◯△×でチェックをつけて記録をつけていくことができます。
②写真や文章を入力して記録することができます。
③写真か文章が入っている記録は公開することができ、他のユーザーに見てもらうことができます。

            </td>
        </tr>
        <tr>
            <td class="show-record_image">
                公開／非公開機能
このアプリにはきろくの公開／非公開と、ユーザー情報の公開／非公開があります。
①記事の公開／非公開
新しい記録をつけたときに、他のユーザーには見られたくない場合は、そのきろくを非公開に設定することで自分しか見ることができなくなります。また、きろくに写真や文章を入力しなかった場合は非公開しか選択できません。『新しいきろく』またはきろくを編集した際に選択することができます。
②ユーザー情報の公開／非公開
ユーザー情報を非公開に変えて、ユーザー情報やつけたきろくの全てを非公開にすることができます。ユーザー情報が非公開になると、つけている記録を公開することはできません。マイページにある歯車から変更することができます。（初期設定ではユーザー情報は公開になっています。）
            </td>
        </tr>


        <tr>
            <td class="body-box">
               その他機能
               ひを灯す
気に入ったきろく、参考になったきろく、面白かったきろく…そんなきろくがあったときはひのボタンを押して、そのきろくにひを灯しましょう。

フォロー
気に入ったユーザーがいたらフォローをして記録をチェックしましょう。

タグ
おなじみのタグ機能です。＃をつけてタグづけしてみたください。タグをクリックすると同じタグがついている記事がみれます。

検索
右上にある検索から、なまえ、きろく等からの検索が可能デス。
            </td>
        </tr>


        
        </tr>
        <tr>
            <td class="link">
                <%#= link_to_unless_current  "このきろくの投稿者のページ",  user_path(@pet_record.user.id) %> <%#= link_to_unless_current  "公開されているきろく",  pet_records_path %>
            </td>
        </tr>

    </table>
</div>
