<div class="img-box">
	<h1>YOU □ ME</h1>
	<p>記録の置き場</p>
	<%= link_to "アバウト『YOU □ ME』", about_user_path %>
</div>

<div class="enter-box">
	<%= link_to "サインイン", new_user_registration_path %>
	<%= link_to "ログイン", new_user_session_path %>
	<%= link_to_unless_current  "公開されている記録",  pet_records_path %>
</div>