<!-- タグ機能 -->
<% if record.tags.any? %>
    <% record.tags.each do |tag| %>
      <%= link_to tag_path(tag_id: tag.id) do %>
        <p class="record-tag-font">
        	#<%= tag.tag %>
        </p>
      <% end %>
    <% end %>
<% end %>