<div class="row">
</div>

<div class="record-box" data-page="2">
	<div>
		<%= render "pet_records/index", pet_records: @pet_records %>
		<div class="loader-container d-none"></div>
	</div>
</div>

 <%= javascript_include_tag 'scrolling.js' %>

<!-- <script type="text/javascript" src="scrolling.js"></script> -->