// Place all the styles related to the user_relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


	@import "variables";
	@import "mixin";

.box{
	width: 90%;
	padding: 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items:flex-start;
	.item-box{
		width: 30%;
		height: 200px;
		padding: 10px;
		margin: 10px;
		display: flex;
		align-items: center;
		border:{
			@include main-border;
		}
		li{
			margin-bottom: 10px;
		}
		.image{
			width: 100px;
			height: 100px;
		    @include circle;
		    border:{
			@include main-border;
			color: $main-color;
			}
		}
		.items{
			display: inline-block;
			list-style: none;
			padding: 15px;

			.name{
				font-size: $base-font-size;
				span{
					font-size: $small-font-size;
				}
			.like-tag-body{
				padding: 10px;
					font-size: $small-font-size;
			.tag{
				span{
					text-align: left;
				}
			}
			}
			}
		}
	}
}

