// Place all the styles related to the user_relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


	@import "variables";
	@import "mixin";

.box{
	width: 90%;
	margin: $margin-center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items:flex-start;
	.item-box{
		width: 30%;
		height: 200px;
		padding: 10px;
		margin: 10px;
		display: flex;
		align-items: center;
		border:{
			@include main-border;
			color: $main-color;
		}
		li{
			margin-bottom: 10px;
		}
		.image{
			width: 100px;
			height: 100px;
			object-fit: cover;
		    @include circle;
		    border:{
				@include main-border;
				color: $main-color;
			}
		}
		.items{
			list-style: none;
			padding: 15px;

			.name{
				font-size: $base-font-size;
				span{
					font-size: $small-font-size;
				}
			}
			.like-tag-body{
				padding: 10px;
				font-size: $small-font-size;
			}
			.tag{
				display: inline;
			}
		}
	}
}

