// Place all the styles related to the user_relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


	@import "variables";
	@import "mixin";

.box{
	width: 90%;
	padding: 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items:flex-start;
	.item-box{
		width: 30%;
		height: 200px;
		padding: 10px;
		margin: 10px;
		display: flex;
		align-items: center;
		border:{
			@include main-border;
		}
		.image{
		    @include circle;
		}
		.items{
			display: inline-block;
			padding: 15px;
			.name{
				font-size: 15px;
			}
		}
	}
}

