@import "variables";

/*写真用の円の設定*/
@mixin circle {
  border-radius: 50%;
  background-position: left top;
}

/*線の設定*/
@mixin main-border{
  style: solid;
  width: 2px;
}
@mixin slim-dashed{
  style: dashed;
  width: 1px;
}
@mixin slim-solid{
  style: solid;
  width: 1px;
}

/*ホバー時の設定*/
@mixin transition{
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  transition: 0.8s;
  }

  /*ラジオボタン */
  @mixin radio-before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  border: 2px solid $font-sub-color;
  width: 20px;
  height: 20px;
  position: absolute;
}
@mixin radio-after {
  content: '';
  display: inline-block;
  border-radius: 50%;
  border: 7px solid $main-color;
  width: 20px;
  height: 20px;
  position: absolute;
}