/*写真用の円の設定*/
@mixin circle {
    border-radius: 50%;
    background-position: left top;
}

@mixin main-border{
	style: solid;
	width: 2px;
}

@mixin transition{
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	-ms-transition: 0.8s;
	transition: 0.8s;
	}