/* 色 */
$main-color: #75b79e;
$sub-color: #00796b;
$font-color: #6a8caf;
$font-sub-color: #cddc39;
$user-color: #eef9bf;
$tag-color: #ffd3b6;
$like-color: #f76a8c;

/*透け感のある色*/
$rgba: rgba(117, 183, 158, 0.5);
$top-rgba: rgba(255, 230, 230, 0.5);

/*フォント*/
$base-font-size: 15px;
$small-font-size: 13px;
$big-font-size: 20px;

/*余白*/
$margin-center: 0 auto;

/* 角丸 */
$record: 10px;

/*ホバーの効果*/
$box-shadow: 5px 5px 5px 5px rgba(50, 0, 0, 0.2);
$rgba-hover: rgba(117, 183, 158, 1);
$img-rgba-hover: rgba(0, 0, 0, 1);

/*ラジオボタン位置*/
/*横 - 列*/
$side-1: 25px;
$side-2: 103px;
$side-3: 180px;
$side-4: 255px;

/*縦 - 列(左から)*/
$vertical-1: 190px;
$vertical-2: 222px;
$vertical-3: 80px;

/*ブレイクポイント*/
// $
