
/* 色 */
$main-color:#75b79e;
$sub-color:#00796B;
$font-color:#6a8caf;
$font-sub-color:#CDDC39;
$rgba: rgba(117,183,158,0.5);



/*フォント*/
$base-font-size: 15px;
$small-font-size: 13px;
$big-font-size: 20px;

/*余白*/
$margin-center: 0 auto;

/* 角丸 */
$button: 10px;

$box-shadow: 5px 5px 5px 5px rgba(50,0,0,0.2);
$rgba-hover: rgba(117,183,158,1);
