/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require simple_calendar
 *= require_self
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";
  
  @import "variables";
  @import "mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $base-font-size;
}

a {
  text-decoration: none;
  color: $font-sub-color;
}

header{
  height: 100px;
  background-color: $main-color;
  margin-bottom: 30px;
  color: $font-color;
  overflow: scroll;
  nav{
    display: flex;
    .title{
      width: 200px;
      padding: 10px;
      h1{
        font-size: 30px;
        margin: 0;
        text-align: center;
        padding-top: 10px;
      }
      h5{
        text-align: center;
        margin: 0 auto;
      }
    }
    ul{
      text-align: center;
      margin: 0 auto;
      width: 60%;
      li{
        list-style: none;
        display: inline-block;
        margin: 20px 20px 0 20px;
      }
    }
    .input-group{
      margin: 50px 0 0 10px;
      width: 80%;
      .form-control{
        margin: 0;
        border-color: $font-sub-color;
        color: $font-sub-color;
      }
      .input-group-btn{
        padding: 0;
        margin: 0;
        .search{
          margin: 0;
          background-color: $font-sub-color;
          color: #fff;
          border-color: $font-sub-color;
          &:hover, &:focus {
            color: $main-color;
            background-color: #fff;
          }
        }
      }
    }
  }
}

