// Place all the styles related to the user_relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "mixin";


.simple-calendar{
  width: 100%;
  .calendar-heading {
    width: 80%;
    padding: 10px;
    margin: $margin-center;
    text-align: center;
    .calendar-title{
      padding: 30px;
      font-size: $big-font-size;
      color: $font-color;
    }
  }
  table{
    border-color: $main-color;
    margin: $margin-center;
    font:{
      size: 20px;
    }
    tr{
      .week {
        text-align: center;
        padding: 10px 20px;
      }
    }
    .day{
      width: 600px;
      height: 100px;
      td{
        .calendar-record{
          a{
            font-size: 10px;
          }
        }
      }
    }
  }
}
