// Place all the styles related to the linkes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "like_tag_follow";

.item-box{
	border:{
		color: $green3;
	}
	.items{
		.like-tag-date{
		}
		.like-tag-body{
		}
	}
}
