// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  @import "variables";
  @import "mixin";

/* index > _record-parts部分 */
.about-in{
  width: 90%;
}
.about, .enter{
  width: 90%;
  text-align: center;
  padding: 0 0 30px 0;
  margin: $margin-center;
   a{
      padding: 10px;
      color: $font-sub-color;
      border:{
      @include slim-dashed;
    }
   @include transition;
    &:hover, &:focus {
      background-color: $top-rgba;
    }
  }
}
.record-box{
  div{
    margin: $margin-center;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;

    .record-box-item{
      padding: record-parts-padding;
      background: $rgba;
      width: 280px;
      height: 350px;
      margin: 20px 10px;
      @include transition;
      &:hover, &:focus {
        color: $main-color;
        a {
          color: $font-sub-color;
          }
        box-shadow: $box-shadow;
        background: $rgba-hover;
        .date{
          a {
              color: $font-sub-color;
            }
        }
        .user-pet-name{
          a{
            color: $user-color;
          }
        }
        .record-body{
          color: $font-color;
        }
        .tag{
          a{
            color: $tag-color;
          }
        }
        .pet-status{
          color: $main-color;
        }
      }

      ul{
        width: 80%;
        margin:0px;
        padding:0px;
        list-style: none;
      }
      .record_image{
        padding: 10px 0 0 0;
        margin: $margin-center;
        width: 100%;
        height: auto;
        object-fit: cover;
        .img{
            // background-color: $img-rgba;
          }
      }
      .date{
        font-size: $big-font-size;
        padding: 10px;
        text-align: center;
        a {
          color: $font-color;
        }
      }
      .user-pet-name{
        text-align: center;
        padding: record-parts-padding;
        font-size: $small-font-size;
        a {
          color: $font-color;
          }
      }
      .record-body{
        color: $font-color;
        padding: record-parts-padding;
        text-align: center;
      }
      .tag{
        padding: record-parts-padding;
        text-align: center;
        a {
          color: $font-color;
        }
      }
      li{
        .like{
          text-align: right;
          margin: right;
          a{
            font-size: $small-font-size;
            color: $font-color;
          }
        }
      }
      .pet-status{
        color: $font-color;
        text-align: center;
        padding: record-parts-padding;
        font-size: $small-font-size;
      }
    }
  }
}

/* _new-edit部分 */
.new-edit-box{
  width: 90%;
  margin: $margin-center;
  .new-edit-title {
    width: 80%;
    padding-bottom: 20px;
    text-align: center;
    margin: $margin-center;
    font-size: $big-font-size;
    color: $font-sub-color;
  }

  .status-radio-button{
    width: 80%;
    margin: $margin-center;
    text-align: center;
    table{
      margin: $margin-center;
        position:  relative;

      font:{
        size: 20px;
      }
      tr{
        width: 600px;

        th ,td {
          padding: 25px 60px;
        }
        
        /*ラジオボタン-トイレ*/
        #radio-1-1, #radio-1-2, #radio-1-3{
          display: none;
       }
       #radio-1-1+label::before {
        @include radio-before;
        top: 25px;
        left: 190px;
       }
       #radio-1-2+label::before {
        @include radio-before;
        top: 25px;
        right: 222px;
       }
        #radio-1-3+label::before {
        @include radio-before;
        top: 25px;
        right: 80px;
       }
       #radio-1-1:checked+label::after {
        @include radio-after;
        top:25px;
        left: 190px;
       }
       #radio-1-2:checked+label::after {
        @include radio-after;
        top:25px;
        right: 222px;
       }
       #radio-1-3:checked+label::after {
        @include radio-after;
        top:25px;
        right: 80px;
       }

               /*ラジオボタン-おみず*/
        #radio-2-1, #radio-2-2, #radio-2-3{
          display: none;
       }
       #radio-2-1+label::before {
        @include radio-before;
        top: 103px;
        left: 190px;
       }
       #radio-2-2+label::before {
        @include radio-before;
        top: 103px;
        right: 222px;
       }
        #radio-2-3+label::before {
        @include radio-before;
        top: 103px;
        right: 80px;
       }
       #radio-2-1:checked+label::after {
        @include radio-after;
        top:103px;
        left: 190px;
       }
       #radio-2-2:checked+label::after {
        @include radio-after;
        top:103px;
        right: 222px;
       }
       #radio-2-3:checked+label::after {
        @include radio-after;
        top:103px;
        right: 80px;
       }
          /*ラジオボタン-ごはん*/
        #radio-3-1, #radio-3-2, #radio-3-3{
          display: none;
       }
       #radio-3-1+label::before {
        @include radio-before;
        top: 180px;
        left: 190px;
       }
       #radio-3-2+label::before {
        @include radio-before;
        top: 180px;
        right: 222px;
       }
        #radio-3-3+label::before {
        @include radio-before;
        top: 180px;
        right: 80px;
       }
       #radio-3-1:checked+label::after {
        @include radio-after;
        top:180px;
        left: 190px;
       }
       #radio-3-2:checked+label::after {
        @include radio-after;
        top:180px;
        right: 222px;
       }
       #radio-3-3:checked+label::after {
        @include radio-after;
        top:180px;
        right: 80px;
       }
                 /*ラジオボタン-げんき*/
        #radio-4-1, #radio-4-2, #radio-4-3{
          display: none;
       }
       #radio-4-1+label::before {
        @include radio-before;
        top: 255px;
        left: 190px;
       }
       #radio-4-2+label::before {
        @include radio-before;
        top: 255px;
        right: 222px;
       }
        #radio-4-3+label::before {
        @include radio-before;
        top: 255px;
        right: 80px;
       }
       #radio-4-1:checked+label::after {
        @include radio-after;
        top:255px;
        left: 190px;
       }
       #radio-4-2:checked+label::after {
        @include radio-after;
        top:255px;
        right: 222px;
       }
       #radio-4-3:checked+label::after {
        @include radio-after;
        top:255px;
        right: 80px;
       }


      }
    }

    .record{
      width: 90%;
      margin: $margin-center;
      .img{
        margin: $margin-center;
        text-align: center;
        padding: 20px 0;
      }
      .text-form{
        width: 56%;
        height: 150px;
        margin-bottom: 10px;
        border:{
          @include main-border;
          color: $main-color;
        }
      }
      .record-btn {
        margin-top: 10px;
      }
    }
  }
}

/*show*/
.show-record-box{
  width: 60%;
  margin: $margin-center;
  td{
    padding: 10px;
  }
  .record-table{
    width: 60%;
    margin: $margin-center;
    .date-box{
      border-bottom: {
        @include slim-dashed;
        color: $main-color;
      }
      h3{
        font-size: $big-font-size;
        text-align: center;
      }
    }
    .name-box{
      text-align: center;
      border-bottom: {
        @include slim-dashed;
        color: $main-color;
      }
      span{
        font-size: $small-font-size;
      }
    }
    .pet-status{
      text-align: center;
      border-bottom: {
        @include slim-dashed;
        color: $main-color;
      }
    }
    .show-record_image{
      margin: $margin-center;
      text-align: center;
      border-bottom: {
        @include slim-dashed;
        color: $main-color;
      }
      img{
        width: 100%;
        height: auto;
      }
    }
    .body-box{
      border-bottom: {
        @include slim-dashed;
        color: $main-color;
      }
      .show-body{
        width: 100%;
        margin: $margin-center;
        white-space: pre-line;
        letter-spacing: 0.2em;
      }
    }
    .tag{
      a{
        color: $tag-color;
      }
    }
    .follow-box{
      text-align: right;
    }
    .link{
      text-align: center;
    }
  }
}

