// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "mixin";

/* index > _record-parts部分 */
.about,
.enter {
  width: 90%;
  text-align: center;
  padding: 30px 0 30px 0;
  overflow: scroll;
  margin: $margin-center;
  a {
    padding: 10px;
    color: $font-sub-color;
    border: {
      @include slim-dashed;
    }
    @include transition;
    &:hover,
    &:focus {
      background-color: $top-rgba;
    }
  }
}
.record-box {
  div {
    margin: $margin-center;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;

    .record-box-item {
      background: $rgba;
      width: 280px;
      height: 350px;
      margin: 20px 10px;
      @include transition;
      &:hover,
      &:focus {
        color: $main-color;
        a {
          color: $font-sub-color;
        }
        box-shadow: $box-shadow;
        background: $rgba-hover;
        .date {
          a {
            color: $font-sub-color;
          }
        }
        .user-pet-name {
          a {
            color: $user-color;
          }
        }
        .record-body {
          color: $font-color;
        }
        .tag {
          a {
            color: $tag-color;
          }
        }
        .pet-status {
          color: $main-color;
        }
      }

      ul {
        width: 80%;
        margin: 0px;
        padding: 0px;
        list-style: none;
      }
      .record_image {
        padding: 10px 0 0 0;
        margin: $margin-center;
        width: 100%;
        height: 150px;
        object-fit: cover;
      }
      .date {
        font-size: $big-font-size;
        padding: 10px;
        text-align: center;
        a {
          color: $font-color;
        }
      }
      .record-body {
        color: $font-color;
        text-align: center;
      }
      .user-pet-name {
        text-align: center;
        padding: 10px;
        a {
          color: $font-color;
          font-size: $small-font-size;
        }
      }

      li {
        .like {
          text-align: right;
          margin: right;
          a {
            font-size: $small-font-size;
            color: $font-color;
          }
        }
      }
      .tag {
        text-align: center;
        a {
          color: $font-color;
          font-size: $small-font-size;
        }
      }
      .pet-status {
        color: $font-color;
        text-align: center;
        padding: 10px;
        font-size: $small-font-size;
      }
    }
  }
}

/* _new-edit部分 */
.new-edit-box {
  width: 90%;
  margin: $margin-center;
  .status-radio-button {
    width: 80%;
    margin: $margin-center;
    text-align: center;
    table {
      margin: $margin-center;
      position: relative;
      font: {
        size: 20px;
      }
      tr {
        width: 600px;
        th {
          padding: 25px 60px;
        }
        td {
          padding: 25px 60px;
        }
      }
      /*ラジオボタン-トイレ*/
      #radio-1-1,
      #radio-1-2,
      #radio-1-3 {
        display: none;
      }
      #radio-1-1 + label::before {
        @include radio-before;
        top: $side-1;
        left: $vertical-1;
      }
      #radio-1-2 + label::before {
        @include radio-before;
        top: $side-1;
        right: $vertical-2;
      }
      #radio-1-3 + label::before {
        @include radio-before;
        top: $side-1;
        right: $vertical-3;
      }
      #radio-1-1:checked + label::after {
        @include radio-after;
        top: $side-1;
        left: $vertical-1;
      }
      #radio-1-2:checked + label::after {
        @include radio-after;
        top: $side-1;
        right: $vertical-2;
      }
      #radio-1-3:checked + label::after {
        @include radio-after;
        top: $side-1;
        right: $vertical-3;
      }

      /*ラジオボタン-おみず*/
      #radio-2-1,
      #radio-2-2,
      #radio-2-3 {
        display: none;
      }
      #radio-2-1 + label::before {
        @include radio-before;
        top: $side-2;
        left: $vertical-1;
      }
      #radio-2-2 + label::before {
        @include radio-before;
        top: $side-2;
        right: $vertical-2;
      }
      #radio-2-3 + label::before {
        @include radio-before;
        top: $side-2;
        right: $vertical-3;
      }
      #radio-2-1:checked + label::after {
        @include radio-after;
        top: $side-2;
        left: $vertical-1;
      }
      #radio-2-2:checked + label::after {
        @include radio-after;
        top: $side-2;
        right: $vertical-2;
      }
      #radio-2-3:checked + label::after {
        @include radio-after;
        top: $side-2;
        right: $vertical-3;
      }
      /*ラジオボタン-ごはん*/
      #radio-3-1,
      #radio-3-2,
      #radio-3-3 {
        display: none;
      }
      #radio-3-1 + label::before {
        @include radio-before;
        top: $side-3;
        left: $vertical-1;
      }
      #radio-3-2 + label::before {
        @include radio-before;
        top: $side-3;
        right: $vertical-2;
      }
      #radio-3-3 + label::before {
        @include radio-before;
        top: $side-3;
        right: $vertical-3;
      }
      #radio-3-1:checked + label::after {
        @include radio-after;
        top: $side-3;
        left: $vertical-1;
      }
      #radio-3-2:checked + label::after {
        @include radio-after;
        top: $side-3;
        right: $vertical-2;
      }
      #radio-3-3:checked + label::after {
        @include radio-after;
        top: $side-3;
        right: $vertical-3;
      }
      /*ラジオボタン-げんき*/
      #radio-4-1,
      #radio-4-2,
      #radio-4-3 {
        display: none;
      }
      #radio-4-1 + label::before {
        @include radio-before;
        top: $side-4;
        left: $vertical-1;
      }
      #radio-4-2 + label::before {
        @include radio-before;
        top: $side-4;
        right: $vertical-2;
      }
      #radio-4-3 + label::before {
        @include radio-before;
        top: $side-4;
        right: $vertical-3;
      }
      #radio-4-1:checked + label::after {
        @include radio-after;
        top: $side-4;
        left: $vertical-1;
      }
      #radio-4-2:checked + label::after {
        @include radio-after;
        top: $side-4;
        right: $vertical-2;
      }
      #radio-4-3:checked + label::after {
        @include radio-after;
        top: $side-4;
        right: $vertical-3;
      }
    }

    .record {
      width: 90%;
      margin: $margin-center;
      .img {
        margin: $margin-center;
        text-align: center;
        padding: 20px 0;
      }
      .text-form {
        width: 56%;
        height: 150px;
        margin-bottom: 10px;
        border: {
          @include main-border;
          color: $main-color;
        }
      }
      .record-btn {
        margin-top: 10px;
      }
    }
  }
}

/*show*/
.show-record-box {
  width: 60%;
  margin: $margin-center;
  .record-table {
    width: 60%;
    margin: $margin-center;
    td {
      padding: 10px;
    }
    .date-box {
      border-bottom: {
        @include slim-dashed;
        color: $main-color;
      }
      h3 {
        font-size: $big-font-size;
        text-align: center;
      }
    }
    .name-box {
      text-align: center;
      border-bottom: {
        @include slim-dashed;
        color: $main-color;
      }
      span {
        font-size: $small-font-size;
      }
    }
    .pet-status {
      text-align: center;
      border-bottom: {
        @include slim-dashed;
        color: $main-color;
      }
    }
    .show-record_image {
      margin: $margin-center;
      text-align: center;
      border-bottom: {
        @include slim-dashed;
        color: $main-color;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .record_public {
      color: $main-color;
      text-align: center;
    }
    .body-box {
      border-bottom: {
        @include slim-dashed;
        color: $main-color;
      }
      .show-body {
        width: 100%;
        margin: $margin-center;
        white-space: pre-line;
        letter-spacing: 0.2em;
      }
    }
    .tag {
      a {
        color: $tag-color;
      }
    }
    .like {
      text-align: right;
    }
    .liked-user {
      font-size: $small-font-size;
      color: $main-color;
    }
    .image {
      @include circle;
      width: 50px;
      height: 50px;
      object-fit: cover;
      padding: 0;
      margin: $margin-center;
      text-align: center;
      border: {
        @include slim-solid;
        color: $main-color;
      }
    }
    .comment-show {
      .comment-title1{
        font-size: $base-font-size;
        color: $main-color;
      }
    }
    .comment-new {
      .comment-title2 {
        @extend .comment-title1;
      }
    }
    .link {
      width: 90%;
      margin: $margin-center;
      padding: 50px;
      text-align: center;
    }
  }
}
