// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	@import "variables";
	@import "mixin";
/* _record-parts部分 */
.record-box{
	div{
		display: flex;
	    align-items: flex-start;
	    align-content: flex-start;
	    flex-wrap: wrap;
	    justify-content: space-between;


		.record-box-item{
			position: relative;
			color: $font-color;
			a {
				color: $font-color;
			}
			background: $rgba;
			width: 250px;
			height: 350px;
			margin: 20px;
			@include transition;
				&:hover, &:focus {
					color: $main-color;
					a {
						color: $font-sub-color;
					}
					box-shadow: $box-shadow;
					background: $rgba-hover;

				}
			.record_image{
			padding: 5px;
			width: 250px;
			height: 160px;
			}
			.record-item {
				width: 250px;
				p{
					padding: 5px;
				}
				.date{
					text-align: left;
				}
				.user-name{
					text-align: right;
				}
				.pet-stasu{
					position: absolute;
					bottom: 0;
				}
			}
		}
	}
}


/* _new-edit部分 */
.status-radio-button{
	width: 600px;
	margin: 0 auto;
	text-align: center;
	table{
		font:{
			size: 20px;
		}
		tr{
			width: 600px;
			th{
				padding: 10px 20px;
			}
			td{
				padding: 10px 20px;
			}
			.text-form{
				border:{
					width: 100px;
				}
			}
		}

	}
}


