// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	@import "variables";
	@import "mixin";
/* _record-parts部分 */
.record-box{
	div{
		display: flex;
	    align-items: flex-start;
	    align-content: flex-start;
	    flex-wrap: wrap;
	    justify-content: space-between;


		.record-box-item{
			position: relative;
			color: $font-color;
			a {
				color: $font-color;
			}
			background: $rgba;
			width: 250px;
			height: 350px;
			margin: 20px;
			@include transition;
			&:hover, &:focus {
				color: $main-color;
				a {
					color: $font-sub-color;
				}
				box-shadow: $box-shadow;
				background: $rgba-hover;

			}

			ul{
				margin: $margin-center;
				list-style: none;
				.record_image{
					padding: 5px;
					width: 250px;
					height: 160px;
				}
				.date{
					font-size: $big-font-size;
					padding: 10px 10px 0 10px;
					text-align: center;
				}
				.user-name{
					text-align: center;
					padding: 0 10px;
					font-size: $small-font-size;
				}
				.record-body{
					padding: 0 10px ;
				}
				.tag{
					padding: 0 10px ;
					p {
						text-align: right;
					}
					.pet-stasu{
						text-align: center;
					}
				}
			}
		}
	}
}


/* _new-edit部分 */
.status-radio-button{
	width: 600px;
	margin: 0 auto;
	text-align: center;
	table{
		font:{
			size: 20px;
		}
		tr{
			width: 600px;
			th{
				padding: 10px 20px;
			}
			td{
				padding: 10px 20px;
			}
			.text-form{
				border:{
					width: 100px;
				}
			}
		}

	}
}

/*show*/
.show-record-box{
	width: 90%;
	margin: $margin-center;
	.record-table{
		width: 60%;
		margin: $margin-center;
		h3{
			font-size: $big-font-size;
			text-align: center;
		}
		.name-box{
			text-align: center;
			span{
				font-size: $small-font-size;
			}
		}
		.pet-status{
			text-align: center;
		}
		.show-record_image{
			margin: $margin-center;
			text-align: center;
			img{
			width: 60%;
			height: auto;
}
		}
	}
}

