// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.record-box{
	height: 60hv;
	padding: 10px;
	display: flex;
	justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.record-box-item{
		background-color: red;
		width: 250px;
		height: 350px;
		margin: 20px;
}

.record_image{
	width: 250px;
		height: 80px;
		object-fit: cover;
}

.record-body, .pet-stasus, .date {
		padding: 5% 5% 3% 5%;
	}